{% extends "admin_views/dashboard.html" %}

{% block inventory_table_body %}

<tr class="text-light text-left" style="font-size: 11px; font-family: 'Courier New', Courier, monospace; height: 20px; display: flex; align-items: center;">
  <td style="flex: 2; margin-left: 40px;">ID</td>
  <td style="flex: 2;">DATE</td>
  <td style="flex: 2;">DRESS</td>
  <td style="flex: 2;">CUSTOMER</td>
  <td style="flex: 2;">STATUS</td>
</tr>
          
<tbody>
{% for rent in inventory.items %}
  <tr>
    <td colspan="2">
      <div class="accordion" id="accordion{{ loop.index }}">
        <div class="card bg-dark">
          <div class="card-header" id="heading{{ loop.index }}">
            <h6 class="mb-0">
              <div class="row align-items-center">
                <!-- First column, left part of the card -->
                <div class="col-md-2">
                  <div class="d-flex justify-content-start">
                    <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                      <span class="arrow-down"></span>
                    </button>
                    {% if rent.is_returned() %}
                    <div class="text-arrow-container ml-2">
                      <div class="d-flex justify-content-start">
                        <span class="text-left text-light" style="font-size: 13px; font-family: 'Courier New', Courier, monospace;">{{ rent }}</span>
                      </div>
                    </div>
                    {% else %}
                    <div class="text-arrow-container ml-2">
                      <div class="d-flex justify-content-start">
                        <span class="neon-text clean-two" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">{{ rent }}</span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                
                <!-- Second column, middle part of the card -->
                {% if rent.is_returned() %}
                <div class="col-md-3">
                  <div class="d-flex justify-content-start">
                    <div class="text-arrow-container">
                      <span class="text-left text-light" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">
                        {{ rent.rentDate.strftime('%d | %b | %y') }}
                      </span>
                    </div>
                  </div>
                </div>
                  <div class="col-md-2">
                    <div class="d-flex justify-content-start">
                      <div class="text-arrow-container">
                        <span class="text-left text-light" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">{{ rent.dress }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="d-flex justify-content-start">
                      <div class="text-arrow-container">
                        <span class="text-left text-light" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">{{ rent.customer.lastName }}, {{ rent.customer.name }}</span>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="col-md-3">
                    <div class="d-flex justify-content-start">
                      <div class="text-arrow-container">
                        <span class="text-left text-light" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">
                          {{ rent.rentDate.strftime('%d | %b | %y') }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="d-flex justify-content-start">
                      <div class="text-arrow-container">
                        <span class="neon-text green" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">{{ rent.dress }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="d-flex justify-content-start">
                      <div class="text-arrow-container">
                        <span class="neon-text clean-purple" style="font-size: 12px; font-family: 'Courier New', Courier, monospace;">{{ rent.customer.lastName }}, {{ rent.customer.name }}</span>                              </div>
                    </div>
                  </div>
                {% endif %}                        
                
                <!-- Third column, sellable badge -->
                <div class="col-md-1 d-flex justify-content-center">
                  {% if rent.is_returned() %}
                    <span class="neon-text sand typewriter" style="font-size: 12px;">inactive</span>
                  {% else %}
                    <span class="neon-text clean-two typewriter" style="font-size: 12px;">active</span>
                  {% endif %}
                </div>
              
                <!-- Fifth column, delete button -->
                <div class="col-md-1 d-flex justify-content-end">
                  {% if rent.is_returned() %}
                  <form method="POST" action="{{ url_for('admin.delete_object', dataBase='Rent', id=rent.id) }}" class="form-inline" onsubmit="return confirm('Are you sure you want to delete this rent? This action cannot be undone.');">
                    {{ delete_form.hidden_tag() }}
                    <input type="hidden" name="dataBase" value="Rent">
                    <input type="hidden" name="id" value="{{ rent.id }}">
                    <!-- Use the Bootstrap close button here -->
                    <button type="submit" class="btn btn-dark btn-sm btn-smaller text-light" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </form>
                  {% else %}
                  <form method="POST" action="{{ url_for('admin.delete_object', dataBase='Rent', id=rent.id) }}" class="form-inline" onsubmit="return false;">
                    {{ delete_form.hidden_tag() }}
                    <input type="hidden" name="dataBase" value="Rent">
                    <input type="hidden" name="id" value="{{ rent.id }}">
                    <!-- Use the Bootstrap close button here -->
                    <button type="submit" class="btn btn-dark btn-sm btn-smaller text-light" aria-label="Close" disabled>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </form>
                  {% endif %}
                </div>                        
              </div>
            </h6>
          </div>
        </div>
      
      
        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion{{ loop.index }}">
          <div class="card-body">
            <table class="table table-striped table-hover table-sm table-dark">
              <tbody style="font-size: 12px;">
                <tr>
                  <td class="d-flex" style="vertical-align: middle;">
                    <!-- Main table column -->
                    <div class="col-4">
                      <!-- Inner table with the content of the rows -->
                      <table class="w-100" style="font-family: 'Courier New', Courier, monospace;">
                        <thead style="font-size: 13px;">
                          <tr>
                            <th scope="row">{{ rent }}</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Rent Date:</th>
                            <td>{{ rent.rentDate.strftime('%d %b %Y') }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Return Date:</th>
                            <td>{{ rent.returnDate.strftime('%d %b %Y') }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Rent Total:</th>
                            <td>{{ rent.paymentTotal }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Payment Method:</th>
                            <td>{{ rent.paymentMethod }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Maintenance log column -->
                    <div class="col-8">
                      <table class="table table-striped table-hover table-sm table-dark" style="font-family: 'Courier New', Courier, monospace;">
                        {% if rent.dress %}
                        <thead style="font-size: 13px;">
                          <tr>
                            <th>Dress</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                          <tr>
                            <td>
                              {{ rent.dress }}
                              {{ rent.dress.brand }}  |
                              {{ rent.dress.style }} |
                              Size: {{ rent.dress.size }} |
                              {{ rent.dress.color }} |
                              Rent price: {{ rent.dress.rentPrice }}
                            </td>
                          </tr>
                        </tbody>
                        {% endif %}
                      </table>
                      <table class="table table-striped table-hover table-sm table-dark" style="font-family: 'Courier New', Courier, monospace;">
                        {% if rent.customer %}
                        <thead style="font-size: 13px;">
                          <tr>
                            <th>Customer</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                          <tr>
                            <td>
                            {{ rent.customer }}
                            {{ rent.customer.name }}
                            {{ rent.customer.lastName }}
                            </td>
                          </tr>
                        </tbody>
                        {% endif %}
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>                                                           
          </div>
        </div>
      </div>  
    </td>
  </tr>
{% endfor %}
</tbody>

{% endblock %}