{% extends "admin_views/dashboard.html" %}

{% block inventory_table_body %}
     <tbody>
         <tr>
             <td>
                {% if image_data %}
                <div style="padding-left: 78px;">
                  <img src="data:image/png;base64,{{ image_data }}" alt="Histogram of Rents per Month" style="width: auto; height: auto;">
                </div>
                {% else %}
                <div style="font-size: 13px;">404</div>
                {% endif %}
             </td>
         </tr>
      </tbody>

{% endblock %}