{% extends "base.html" %}

{% block content %}

<br>
</br>

<div class="d-flex justify-content-center">
    <div class="register-container">
        <div class="d-flex justify-content-start">
            {% if form_type == 'rent' %}
                <a class="btn btn-primary btn-dark" href="{{ url_for('admin.rentInventory') }}">Back</a>
            {% elif form_type == 'customer' %}
                <a class="btn btn-primary btn-dark" href="{{ url_for('admin.customerInventory') }}">Back</a>
            {% else %}
                <a class="btn btn-primary btn-dark" href="{{ url_for('admin.inventory') }}">Back</a>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            <h3>{{ title }}</h3>
        </div>
        <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <input type="hidden" name="form_type" value="{{ form_type }}">
            {% if form_type == 'customer' %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.type == 'HiddenField' %}
                            {{ field() }}
                        {% elif field.type != 'SubmitField' %}
                            {{ field.label }}
                            {{ field(class="form-control", autocomplete="off") }}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% elif form_type == 'dress' %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.type == 'HiddenField' %}
                            {{ field() }}
                        {% elif field.type == 'FileField' %}
                            <label for="{{ field.id }}">{{ field.label }}</label>
                            {{ field(class="form-control-file", id=field.id) }}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% elif field.type != 'SubmitField' %}
                            {{ field.label }}
                            {{ field(class="form-control", autocomplete="off") }}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% elif form_type == 'rent' %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.type == 'HiddenField' %}
                            {{ field() }}
                        {% elif field.type != 'SubmitField' %}
                            {{ field.label }}
                            {{ field(class="form-control", autocomplete="off") }}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Add a single submit button for the entire form -->
            <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-primary btn-dark" value="Submit">
            </div>         
        </form>
    </div>
</div>

{% endblock %}