body {
    height: 10vh;
    background-color: #DCC6B6;
}

.custom-navbar {
    background-color: #DCC6B6;
    width: 80rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.custom-navbar .navbar-nav .nav-link {
    color: #B07D47; 
}

.dashboard {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    min-height: 60rem;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    background: #b8a495dc;
    background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0.4), rgba(184, 164, 149, 0.6));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1; /* Takes up 1/5 of available width */
    background-color: #b8a495dc;
    padding-right: 7.5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.main-section {
    flex: 5; /* Takes up 4/5 of available width */
    background-color: #b8a495dc; /* Example background color */
    padding-left: 7.5px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.menu {
    padding: 15px;
    border-bottom: 1px solid #DCC6B6; /* Example border between rows */
    background: linear-gradient(135deg, #8b7d71 0%, #464444de 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-between;
    align-items: center; /* Vertically center the items */
}

.spacer {
    flex: 1; /* The spacer div will take up available space */
}

.footer {
    padding: 10px;
}

.table {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    width: 100%;
    table-layout: responsive;
    display: flex;
    flex-direction: column;
}

.table-header {
    text-align: center;
}

table thead {
    background: linear-gradient(135deg, #8b7d71 0%, #626060de 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #DCC6B6; /* Example border between rows */
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide content that overflows */
}

table thead tr {
    border-bottom: 1px solid #DCC6B6; /* Example border between rows */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

table thead th {
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

table tbody tr {
    border-bottom: 1px solid #DCC6B6; /* Example border between rows */
    width: 100%;
    display: flex;
}

table tbody td {
    flex: 1;
    width: 100%;
}

table tfoot {
    border-bottom: 1px solid #DCC6B6; /* Example border between rows */
    width: 100%;
    text-align: center;
}