{% extends 'base.html' %}

{% block content %}

<style>
  .custom-bg {
      background-color: #DCC6B6;
      background-image: linear-gradient(to bottom, #aa9b90ec, #dcc6b6c0 1px, #BFAEA2);
  }
</style>

<div class="container mt-4 px-4 custom-bg">
  <div class="row">
    <div class="col-md-6 mt-4 mb-4 px-4">
      <h3>Shopping Cart</h3>
      <ul>
        <li>Product 1 - $19.99</li>
        <li>Product 2 - $10.99</li>
      </ul>
      <p>Total: $30.98</p>
    </div>
    <div class="col-md-6 mt-4 mb-4 px-4">
      <h3>Payment Information</h3>
      <form>
        <div class="form-group">
          <label for="card-number">Card Number</label>
          <input type="text" class="form-control" id="card-number" placeholder="Enter card number">
        </div>
        <div class="form-group">
          <label for="expiry-date">Expiry Date</label>
          <input type="text" class="form-control" id="expiry-date" placeholder="MM/YY">
        </div>
        <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="text" class="form-control" id="cvv" placeholder="CVV">
        </div>
        <div class="form-check mt-4">
          <input class="form-check-input" type="checkbox" value="" id="agreeTerms" required>
          <label class="form-check-label" for="agreeTerms">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-dark">Place Order</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}