{% extends "base.html" %}

{% block content %}

  <style>
    .custom-bg {
      background-color: #b8a495dc;
    }  
    .container {
      max-width: 70rem;
      margin: 2rem auto;
    }
  
    .card {
      flex-basis: calc(33.333% - 1rem);
      margin: 0.5rem;
    }
  
    .card-link-container {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }    
  </style>
  
  <div class="container mt-4 px-4 custom-bg">
    <div class="row">
      <div class="col-md-6 mt-4 mb-4 px-4">
        <h5>{{ current_user }}</h5>
        <h4>Shopping Cart</h4>
        {% if dress %}
          <ul>
            <li>Dress {{ dress }}</li>
          </ul>
          <p>Rent for: {{ dress.rentPrice }}</p>
          <form method="post" class="form-group">
              {{ form.hidden_tag() }}
              {{ form.rentDate.label }}
              {{ form.rentDate(class="form-control") }}
              {{ form.submit(class="btn btn-dark") }}
          </form>
        {% else %}
          <p>Your cart is empty.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}