{% extends "base.html" %}

{% block content %}

  <style>
    .custom-bg {
      background-color: #b8a495dc;
    }  
    .container {
      max-width: 80rem;
    }

    .card {
      flex-basis: calc(33.333% - 1rem);
      margin: 0.5rem;
    }

    .card-link-container {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }    
  </style>
  
  <div class="d-flex justify-content-center">
    <div class="jumbotron custom-bg text-white" style="width: 80rem;">
        <h1 class="display-4">Catalog</h1>
        <p class="lead">Description.</p>
        <hr class="my-4">
        <p>New Arrivals.</p>
    </div>
  </div>

  <div class="container custom-bg">
    <div class="container justify-content-center">
      {% for row_index in range(0, inventory|length, 3) %}
        <div class="row">
          {% for dress in inventory[row_index:row_index+3] %}
            <div class="col-md-4 mb-4"> <!-- col-md-4 to make 3 columns on medium-sized screens -->
              <div class="card">
                <img src="{{ url_for('static', filename='images/dressExample1.jpg') }}" class="card-img-top" alt="..." style="object-fit: cover;">
                <div class="card-body" style="height: 180px;">
                  <h6 class="card-title">{{ dress.id }}</h6>
                  <p class="card-text"><small class="text-muted">Rent for: ${{ dress.rentPrice }}</small></p>
                  {% if not dress.rentStatus %}
                    <a class="btn btn-primary btn-sm btn-dark" href="{{ url_for('home.cart', dress_id=dress.id)}}" role="button">Add to cart</a>
                  {% else %}
                    <p>This dress is currently unavailable.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>    
  </div>   

{% endblock %}