{% extends "base.html" %}

{% block content %}

<style>
  .custom-bg {
    background-color: #b8a495dc;
  }  
  .container {
    max-width: 70rem;
    margin: 2rem auto;
  }

  .card {
    flex-basis: calc(33.333% - 1rem);
    margin: 0.5rem;
  }

  .card-link-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }    
</style>

<div class="container mt-4 px-4 custom-bg">
    <div class="row">
      <div class="col-md-6 mt-4 mb-4 px-4">
        <h5>{{ current_user }}</h5>
        <h4>Shopping Cart</h4>
        {% if rent %}
          <ul>
            <li>Rent -{{ rent }}</li>
          </ul>
          <p>Total: {{ rent.dress.rentPrice }}</p>
          <p>Total after Tax: {{ rent.paymentTotal }}</p>
        {% else %}
          <p>Your cart is empty.</p>
        {% endif %}
      </div>
      <div class="col-md-6 mt-4 mb-4 px-4">
        <h4>Payment Information</h4>
        <form>
          <div class="form-group">
            <label for="card-number">Card Number</label>
            <input type="text" class="form-control" id="card-number" placeholder="Enter card number">
          </div>
          <div class="form-group">
            <label for="expiry-date">Expiry Date</label>
            <input type="text" class="form-control" id="expiry-date" placeholder="MM/YY">
          </div>
          <div class="form-group">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" id="cvv" placeholder="CVV">
          </div>
          <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="" id="agreeTerms" required>
            <label class="form-check-label" for="agreeTerms">
              I agree to the <a href="#">terms and conditions</a>
            </label>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-dark">Place Order</button>
        </form>
      </div>
    </div>
</div>
  
{% endblock %}