{% extends "base.html" %}

{% block content %}

  <div class="d-flex justify-content-center">
    <h3>Admin Dashboard</h3>
  </div>

  <div class="d-flex justify-content-center">
    <table class="table table-sm table-bordered" style="width: 71.4rem;">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-left">Dress Inventory</span>
              <form method="POST" action="{{ url_for('admin.inventory') }}" class="form-inline">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.category(class="form-control mr-sm-2", id="category-input") }}
                  {{ form.search(class="form-control mr-sm-2", type="search", placeholder="Search") }}
                  <button type="submit" class="btn btn-light">Filter</button>
                </div>
              </form>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for dress in inventory %}
        <tr>
          <td colspan="2">
            <div class="accordion" id="accordion{{ loop.index }}">
              <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                  <h6 class="mb-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                          {{ dress }}
                        </button>
                      </div>
                      <div class="col-auto">
                        {% if not dress.rentStatus %}
                        <span class="badge badge-success badge-pill badge-small">Available</span>
                        {% else %}
                        <span class="badge badge-secondary badge-pill badge-small">Rented</span>
                        {% endif %}
                      </div>
                    </div>
                  </h6>
                </div>
              </div>
              <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion{{ loop.index }}">
                <div class="card-body">
                  <table class="table table-striped table-hover table-sm table-light">
                    <tbody>
                      <tr>
                        <th scope="row">Brand:</th>
                        <td>{{ dress.brand }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Size:</th>
                        <td>{{ dress.size }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Color:</th>
                        <td>{{ dress.color }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Style:</th>
                        <td>{{ dress.style }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Description:</th>
                        <td>{{ dress.dressDescription }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Dress Cost:</th>
                        <td>{{ dress.dressCost }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Market Price:</th>
                        <td>{{ dress.marketPrice }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Rent Price:</th>
                        <td>{{ dress.rentPrice }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Rents to return Investment:</th>
                        <td>{{ dress.rentsToReturnInvestment }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Times Rented:</th>
                        <td>{{ dress.timesRented }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Sellable:</th>
                        <td>{{ dress.sellable }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

  <a href="{{ url_for('admin.update') }}">Update Inventory</a>

{% endblock %}