{% extends "base.html" %}

{% block content %}

  <div class="d-flex justify-content-center">
    <div class="register-container">
      <div class="d-flex justify-content-center">
        <h3>Register</h3>
      </div>
      <form method="POST" action="{{ url_for('auth.register') }}">
        {% for field in userForm %}
          <div class="form-group">
            {% if field.type != 'SubmitField' %}
              {{ field.label }}
              {{ field(class="form-control", autocomplete="off") }}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{ field(class="btn btn-primary btn-dark") }}
            {% endif %}
          </div>
        {% endfor %}
      </form>
    </div>
  </div>

  <style>
    
    .register-container {
      width: 25rem; 
      padding: 1rem; 
      border: 1px solid #B07D47; 
      border-radius: 5px; 
      color: #B07D47;
    }

    .form-group {
      margin-bottom: 0.5rem; 
    }
  </style>

{% endblock %}