{% extends "base.html" %}

{% block content %}
  <h1>Register Dress</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="container mt-4">
    <form method="POST" action="{{ url_for('admin.update') }}">
      {% for field in form %}
        <div class="form-group">
          {% if field.type != 'SubmitField' %}
            {{ field.label }}
            {{ field(class="form-control", autocomplete="off") }}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          {% else %}
            {{ field(class="btn btn-primary") }}
          {% endif %}
        </div>
      {% endfor %}
    </form>
  </div>
{% endblock %}